{% extends 'partials/base.html' %}
{% load static %}


{% block contents %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Do you really want to delete {{course}}? </h4>
        <div class="">
            <form action="{% url 'App:coursedelete' course.id structure.pk %}" method="POST">
                {% csrf_token %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="mdi mdi-check-all me-2"></i>
                    <a href="{% url 'App:structuredetails' structure.id %}">Cancel? </a>

                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="mdi mdi-block-helper me-2"></i>
                    <input type="submit" value="Delete!">

                </div>
            </form>
        </div>
    </div>
</div>


       
{% endblock %}


{% block extra_javascript %}
<!-- Alerts Live Demo js -->
<script src="{% static 'js/pages/alerts.init.js' %}"></script>
{% endblock %}