{% extends 'partials/base.html' %}
{% load static %}


{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />    
{% endblock %}

{% block contents %}

        


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        

                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                            <thead>
                                <p>PROGRAM'S NAME : <a href="{% url 'App:programdetails' program.id %}"> {{program.name}}</a> </p>
                                <p>INSTRUCTOR NAME :<a href="{% url 'App:instructordetails' instructor.id %}"> {{instructor.first_name}} {{instructor.last_name}} </a></p>
                                <p>PERIOD : From {{program.start_date}} to {{program.end_date}} </p>
                               
                            <tr>
                                <th> WEEK </th>
                                <th> DAY </th>
                                <th> DATE </th>
                                <th> NAME </th>
                                <th> TYPE </th>
                                <th> NB OF HOURS </th>
                                <th> TOTAL </th>
                            </tr>
                            </thead>


                            <tbody>
                                {% for course,c in courses_combined %}
                                <tr>
                                    <td>{{ course.course.week }}</td>
                                    <td>{{ course.course.day }}</td>
                                    <td>{{ c.course_date }}</td>
                                    <td>{{ course.course.name_course }}</td>
                                    <td>{{ course.course.type_course }}</td>
                                    <td>{{ course.course.hours }}</td>
                                    <td>{{ course.salaires}}</td>
                
                                </tr>
                            {% endfor %}
                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

        {% endblock %}


        {% block extra_javascript %}
                <!-- Required datatable js -->
                <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
                <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
                <!-- Buttons examples -->
                <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
                <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
                <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
                <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
                <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
                <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
                <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
                <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
                
                <!-- Responsive examples -->
                <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
                <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
        
                <!-- Datatable init js -->
                <script src="{% static 'js/pages/datatables.init.js' %}"></script>    
        {% endblock %}